body { background-color: #e0ece4;  }
h1 { color: #333456;
}
h3 { color: #595b83;
}
hr { border-style: none;
    border-top-style: dotted;
    border-color: #583d72;
    border-width: 6px;
    width: 5%;
  }
